@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel-Regular'),
    url('../assets/fonts/cinzel-v4-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/cinzel-v4-latin-regular.woff') format('woff');
}

.homepage {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
    url("../assets/images/background.jpg") no-repeat center center fixed;
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.6);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.homepage h1 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-size: 64px;
  margin: 0;
}

.homepage p {
  margin: 0 10px;
}

.homepage button.ghost {
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 30px;
  font-size: 20px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 7px;
}
.homepage button.ghost:focus {
  outline: none;
  border-color: #69F0AE;
}
