.chip {
  background-color: #cecece;
  font-size: 14px;
  line-height: 32px;
  border-radius: 16px;
  padding: 0 12px;
}

.chip--done {
  color: #aaa;
}

.chip--done .chip__val {
  text-decoration-line: line-through;
}

.chip__qty {
  line-height: 16px;
  background-color: #ececec;
  border: 1px solid #bfbfbf;
  border-radius: 0 18px 18px 0;
  padding: 4px 8px 4px 6px;
  margin: 0 -8px 0 8px;
}

.chip__x {
  font-size: 10px;
}
